*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-transform: none;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header  */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.navi {
  display: flex;
  align-items: center;
}

.navi-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.navi-logo-text {
  color: #2e2f42;
}

.header-navi-link {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}

.navi-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navi-link:hover,
.navi-link:focus {
  color: #404bbf;
}

.adres {
  font-style: normal;
  margin-left: auto;
}

.header-adres-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adres-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adres-link:hover,
.adres-link:focus {
  color: #404bbf;
}

/* MAIN  */
/*   HERO  */
.hero {
  background: #2e2f42;
  display: block;
  align-items: center;
  height: 600px;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  height: 120px;
  margin: auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/*  ADVANTAGES  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages {
  padding: 120px 0;
}

.advantages {
  display: flex;
  align-items: center;
  gap: 24px;
  /* width: calc((100%-3 * 24) / 4);*/
}

.advantages-list {
  display: block;
  width: 264px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  TEAM  */
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.container-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-list-person {
  padding: 32px 0;
}

.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*  PORTFOLIO  */

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-job-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  column-gap: 24px;
}

.portfolio-list {
  background: #fff;
}

.portfolio img {
  background: url("path_to_image");
}

.portfolio-app {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*   FOOTER   */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-info {
  display: block;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
